@font-face {
  src: url("../fonts/OpenSans-Bold.ttf"), url("../fonts/OpenSans-Bold.woff2"), url("../fonts/OpenSans-Bold.woff") ;
  font-family: openSans;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("../fonts/OpenSans-Regular.ttf"), url("../fonts/OpenSans-Regular.woff2"), url("../fonts/OpenSans-Regular.woff");
  font-family: openSans;
  font-weight: 400;
  font-style: normal;
}

body {
	margin:0;
	font-family: openSans;
}


.header::before {
		content: "";
  		background-color: rgba(20, 14, 52, 0.9);
		position: absolute;
  		top: 0;
  		right: 0;
  		left: 0;
  		bottom: 0; 
	}

.header {
	position: relative;
	width:100%;

}

.header_container {
	position: relative;
	width:100%;
	color: #fff;
}

.logo_a {
	display:block;
}

.logo, .logo_small, .app_link_icon  {
	fill: #fff;
}


.h1, .h2, .h3 {
	text-transform: uppercase;
	font-weight: bold;
}


.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}



/*--------------------------------ДО 680------------------------------*/
@media (max-width:680px) {
	body {
		font-size: 93.75%;
	}
/*---------------------Шапочка------------------*/
	.header {
		background: url("../images/football_767.jpg") no-repeat;
		background-color: rgba(20, 14, 52);
	}

	.header_container {
		padding:33px 20px 84px 20px;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}
	
	.header .logo_a {
		margin-bottom: 135px;
	}

	.logo {
		width:133px;
	}

	.logo_small {
		width: 56px;
	}

	.header .h1 {
		font-size: 1.867rem;
		line-height: 2.09rem;
		text-align:left;
		margin: 0;
		}

	.header_container .h1:nth-child(2) {
		margin-bottom:30px;
		align-self: flex-start;
	}

	.header_container .h1:nth-child(3) {
		max-width: calc(100% - 44px);
		align-self: flex-end;
	}

	

	.app_links {
		width:100%;
		/*font-size: 0.53rem;*/
		font-size: 8px;
		margin-top:89px;
	} 

	.app_link {
		position:relative;
		text-decoration: none;
		text-transform: uppercase;
		border-radius: 17px;
		background: #5e42b0;
		height: 35px;
		color: #fff;
		display: flex;
		padding: 5px;
		box-sizing: border-box;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;

	}

	.app_link:nth-child(1) {
		margin-bottom:13px;
	}

	.app_link_icon {
		width: 22px;
		height: auto;
		align-self: flex-end;
		}

	.app_link span {
		display: block;
		align-self: flex-start;
		margin-left:10px;
	}


/*	.app_link span:nth-child(2) {
		margin-bottom: 4px;
		}*/

	.app_link span:nth-child(3) {
		font-weight: bold;
	}



	.main {
		width:100%;
		box-sizing: border-box;
	}


/*---------------------Мэйн1------------------*/

.h2 {

	font-size: 3.33rem;
	line-height: 4rem;
	color: #e7e7e7;
	margin: 25px 0px;
}

.h3 {
	line-height: 2.3rem;
	font-size: 1.53rem;
	text-transform: uppercase;
	margin: 0;
	color: #c1c1c1;
}

.forWhom_article {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.player_picture {
	margin-bottom: -35px;
	z-index: 1;
	max-width: 100%;
}

.forWhom_div {
	padding: 60px 20px;
	width:100%;
	box-sizing: border-box;
}

.forWhom_div:nth-child(3) {
	background: #fafafa;
	padding-top: 85px;
}

.forWhom_div:nth-child(4) {
	background: #f5f4f9;
}

.forWhom_article:nth-child(1) .forWhom_div:nth-child(5) {
	background: #5e42b0;
}

.forWhom_article:nth-child(2) .forWhom_div:nth-child(5) {
	background: #090c35;
}


.forWhom_header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

}


.number {

	font-weight: bold;
	font-size:0.93rem;
}

.forWhom_div .number {
	color: #000;
	padding-top: 6px;
	margin-right: 10px;

}

.forWhom_div:nth-child(5) .number {
	color: #8765dd;
}

.number::after {
	content: "";
	border-radius: 3px;
	height: 4px;
	display: block;
}

.forWhom_div .number::after {
	background: #5e42b0;
}

.forWhom_div:nth-child(5) .number::after
 {
	background: #fff;
}


.forWhom_content {
	margin: 27px 0px 0px 0px;
	line-height: 1.2rem;
}

.forWhom_div:nth-child(5) .forWhom_content {
	color: #fff;
}


/*---------------------Мэйн2------------------*/

.usage_article {
	margin-bottom: 77px;
}

.usageItem_picture {
	max-width: 100%;
	margin-bottom: -55px;
}

.usageItem_header {
	z-index: 1;
	position: relative;
}

.usageItem_header .number {

	color: #fff;
	display: block;
	line-height: 1.27rem;
	box-sizing: border-box;
	padding: calc((70px - (1.27rem + 4px)) / 2) 26px;
	background: #5e42b0;
	max-width: 70px;
	max-height: 70px;

}


.usageItem_header .number::after {
	background: #8f7bc8;
}

.usageItem_header .h3 {
	margin: 27px 0px;
}


.usageItem_header, .usage_content {

	padding-left:20px;
	padding-right: 20px;

}


/*---------------------Футер------------------*/


.footer::before {
		content: "";
  		background-color: rgba(20, 14, 52, 0.9);
		position: absolute;
  		top: 0;
  		right: 0;
  		left: 0;
  		bottom: 0; 
	}

.footer {
	position: relative;
	width:100%;

}

.footer_container {
	padding: 100px 20px 10px 20px;
	box-sizing: border-box;
	position: relative;
	width:100%;
	color: #fff;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.footer {
		background: url("../images/game_767.jpg") no-repeat;
	}

.footer_header {
	position: relative;
	width: 100%;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.footer_header a {
	display: block;
	position: relative;
	box-sizing: border-box;
	background: linear-gradient(to bottom, #7756d7, #50369a);
	border-radius: 13px;
	width: 72px;
	height: 72px;
	margin-bottom: 58px;
}

.footer_header .h1 {
	margin: 0;
}
.footer_header p {
	text-transform: uppercase;
	color: #9b8ec1;
	font-size: 0.933rem;
	margin: 0;
}

.footer_header svg {
	width: 56px;
	fill: #fff;
	padding: 10px 8px;
}

.footer .logo_a {
	margin-top: 80px;
}

/*--------------------------------ОТ 681 ДО 960-------------------------*/
@media (min-width:681px) and (max-width:960px) {
	body {
		font-size: 100%;
	}
}

/*--------------------------------ОТ 961------------------------------*/
@media (min-width:961px) {
	body {
		font-size: 125%;
	}
}